<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Pedeja Clean</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>pedeja_clean</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<true/>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>Precisamos da sua localização para encontrar restaurantes próximos e calcular o tempo de entrega.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>Precisamos da sua localização para melhorar sua experiência de entrega.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Precisamos da sua localização para rastrear entregas e encontrar restaurantes próximos mesmo quando o app estiver em segundo plano.</string>
		<key>NSCameraUsageDescription</key>
		<string>Precisamos acessar sua câmera para você adicionar fotos ao seu perfil.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Precisamos acessar suas fotos para você adicionar imagens ao seu perfil.</string>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false/>
	</dict>
</plist>
